@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style */
.display-flex {
    display: flex;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.text-primary {
    color: rgba(255, 144, 14, 1);
}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* dark 03 */
.text-lite-gray {
    color: #727272;
    line-height: 26px;
}

.bg-lite {
    background-color: rgba(255, 144, 14, 0.1);
}

/* header style */

/* nav bar related style */

.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 2.8rem;
}

.nav-item {
    list-style: none;
    margin-left: 30px;
}


.nav-links {}

.nav-link {
    text-decoration: none;
}

.nav-bar,
.banner {
    max-width: 1440px;
    margin: 0px auto;
}

/* banner style */
.banner-content {
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: bold;
    font-size: 4rem;
    color: #131313;
}

.btn-primary {
    background-color: rgba(255, 144, 14, 1);
    color: #fff;
    padding: 20px 25px;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

.banner-img {
    width: 100%;
}

/* team and feature style */
.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px
}

.our-feature {
    margin-left: 73px;
    max-width: 530px;
}

.feature-title-one {
    font-size: 2.8rem;
}

.quick-list {
    font-weight: 500;
}

#of-our {
    font-weight: bold;

}

/* feature section style */
.feature {
    gap: 146px;
}

#feature-section-title {
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 20px;

}

.feature-card {
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}

.feature-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.archirect-img {
    width: 100%;
}

#Experience-badg {
    padding: 45px 40px;
    margin-left: -90px;
    margin-top: -120px;
}

#ten-year {
    font-size: 4rem;
    font-weight: bold;
}

/* some facts section  */
.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-cord {
    border: 1px solid #FF900E;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 9px;
    margin-bottom: 5px;
}

.fact-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(114, 114, 114, 1);
    margin-top: 10px;

}

.fact-descript {
    max-width: 530px;
}

/* sponsor style */
.sponsor-info {
    max-width: 530px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
    filter: grayscale(100%);
}

/* footer section */
.footer {
    max-width: 1440px;
    height: 100px;
    border-radius: 8px;
    margin: 130px auto 216px;
    padding-top: 39px;
  
}

.footer-descript {
    font-size: 1.2rem;
    font-weight: 400;
    color: #424242;
    text-align: center;
    
}

/* responsive */
@media screen and (max-width: 576px) {

    .nav-bar,
    .nav-links,
    .teams,
    .fact-cord,
    .feature {
        flex-direction: column;
    }

    .team-img-container,
    .fact-container,
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }

    #Experience-badg {
        margin-top: 20px;
        margin-left: 20px;
    }

    .fact-container {
        gap: 24px;
        justify-items: center;
    }

    .sponsor-companies {
        gap: 40px;
        justify-items: center;
    }

    .our-feature {
        margin-left: 20px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {

    .teams,
    .feature {
        flex-direction: column;
    }

    #Experience-badg {
        margin-top: 20px;
        margin-left: 20px;
    }

    .our-feature {
        margin-left: 40px;
    }

    .sponsor-companies {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }

    .fact-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}